*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  user-select: none;
}

body{
  background-color: rgb(55, 66, 77);
}

.container{
  width: 100vw;
  height:100vh;
  background-color: rgb(55, 66, 77);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#c{
  width:630px;
  height:630px;
  background-color: white;
  border: solid 5px #57719c;
}

#info-c{
  width: 250px;
  height: 250px;
  background-color: white;
}

.info-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 640px;
  margin-right: 10px;
}

#instructions{
  width: 250px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
